<div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">
                <i class="fas fa-chart-line"></i>
                Dashboard
            </a>
            <a class="nav-link" routerLink="/subscription">
                <i class="fas fa-list-ul"></i>
                My Subscriptions
            </a>
            <a class="nav-link" routerLink="/subscription/new">
                <i class="far fa-plus-square"></i>
                New Subscription
            </a>
        </li>
    </ul>
</div>