<div class="container">
    <canvas id="myChart"></canvas>
    <div class="row mt-5">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Next Payment:</h5>
                    <p class="card-text">Netflix £40 on 12-12-2000</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Current monthly expenditure:</h5>
                    <p class="card-text">£99</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Active Subscriptions</h5>
                    <p class="card-text">1</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Free Period:</h5>
                    <p class="card-text">£99</p>
                </div>
            </div>
        </div>
    </div>
</div>